*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Trebuchet MS', sans-serif;
  background-color: #f2efe1;
}

/*.imagemfundo{
  background-image: url(img/fundo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}*/

#conteudoTexto{
  padding-top: 50px;
  padding-bottom: 50px;
}

#corfundo{
  background-image: url(img/fundo5.png);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  size: 100%;
  background-color: rgb(255, 255, 255);
  height: 700px;
  margin-bottom: 150px;
}

.imagem-fundo {
  background-image: url(img/fundo1.jpg);
  background-size: cover;
  background-position: center;
  height: 800px; /* Ajuste a altura de acordo com a sua necessidade */
  position: relative;
  margin-bottom: 150px;
}

.bloco-em-cima {
  margin-top: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc06e; /* Cor de fundo do bloco */
  padding: 20px;
  border-radius: 2px;
}

.container{
  background-color: antiquewhite;
  width: 100vw;
}
li{
  list-style: none;
}
.logos{
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.logos ul{
  display: flex;
  align-items: center;
  gap: 40px;
  animation: 10s infinite slide linear;
}
.logos ul:hover{
  animation-play-state: paused;
}
.logos img{
  width: 150px;
  filter: grayscale(20%);
}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-840px);
  }
}
