@font-face {
  font-family: 'Brice-Bold';
  src: url('fonts/Brice-BoldSemiCondensed.ttf') format('truetype');
}

@font-face {
  font-family: 'Brice-BoldSemiCondensed';
  src: url('fonts/Brice-BoldSemiCondensed.ttf') format('truetype');
}

@font-face {
  font-family: 'BasisGrotesque-Regular';
  src: url('fonts/BasisGrotesqueArabicPro-Regular.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fefaf1 !important;
  font-family: 'BasisGrotesque-Regular';
}
/*#f2efe1*/

.landing{
  padding-top: 50px;
  min-block-size: 780px;
}

#landing-texto{
  padding: 0px 50px 0px 50px;
}

.landing h2{
  font-family: 'Brice-Bold';
  font-size: 70px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #131646;
  -webkit-text-fill-color: #ff9a52;
}

.landing p{
  padding-left: 10px;
  border-left: 3px solid #0c104b;
  border-top-left-radius: 2px;
  font-size: 18px;
  text-align: justify;
  animation: border-animation 1s ease-in-out; /* Duração da animação */
}

.landing img{
  width: 650px;
}

#conteudoTexto{
  padding-top: 50px;
  padding-bottom: 50px;
}

#corfundo{
  background-image: url(img/img-index1.png);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  size: 100%;
  height: 700px;
  margin-bottom: 150px;
}

.container-slider{
  margin-top: 50px;
  background-color: transparent;
  width: 100vw;
}

li{
  list-style: none;
}

.logos{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589);
  padding-top: 10px ;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.logos ul{
  display: flex;
  align-items: center;
  gap: 40px;
  animation: 10s infinite slide linear;
}

.logos ul:hover{
  animation-play-state: paused;
}

.logos img{
  width: 150px;
  filter: grayscale(20%);
}

.titulo{
  margin-bottom: 25px;
  font-family: 'Brice-Bold';
  font-size: 70px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #131646;
  -webkit-text-fill-color: #ff9a52;
}

.card-container {
  margin-bottom: 50px;
  padding: 150px 50px 150px 50px;
  background: url(img/background-guiar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 30px;
  border-bottom: 5px solid rgb(219, 99, 23);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589);
  padding: 30px;
  width: 300px;
  text-align: center;
}

.card h2 {
  font-family: 'Brice-BoldSemiCondensed';
  font-size: 30px;
  margin-bottom: 15px;
  color: #333;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

@keyframes border-animation {
  0% {
    border-left-height: 0px; /* Borda inicial com largura 0 */
    border-left-color: transparent; /* Cor transparente */
  }
  100% {
    border-left-height: 200px; /* Borda final com largura definida */
    border-left-color: #0c104b; /* Cor final da borda */
  }
}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-840px);
  }
}
